***4.1: WAP to print table of 7 and 9***

In [10]:
#table of 7
for i in range(1,11):
 print("7*",i,"=",7*i)
 i=i+1

7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70

In [15]:
#table of 9
for i in range(1,11):
 print("9*",i,"=",9*i)
 i=i+1

9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45
9* 6 = 54
9* 7 = 63
9* 8 = 72
9* 9 = 81
9* 10 = 90

***4.2: WAP to print table of n where n is given by user***

In [40]:
n=int(input("Enter value of n:"))
for i in range(1,11):
 print(n,"*",i,"=",n*i)
 i=i+1

Enter value of n: 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

***4.3: WAP to add all no. from 1 to n given by user***

In [32]:
n=int(input("Enter value of n:"))
count=0
for i in range(1,n+1):
 count=count+i
print("Final result for n=",n,"is:",count)

Enter value of n: 10

Final result for n= 10 is: 55