In [ ]:
L =[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)

L.remove(10)
L.remove(30)
L.sort()
print("List in ascending order:",L)
L.sort(reverse=True)
print("List in descending order:",L)

List in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
scores=(45,89.5,76,45.4,89,92,58,45)
highest_score=max(scores)
highest_index=scores.index(highest_score)
print(f"Highest score:{highest_score},Index:{highest_index}")
lowest_score=min(scores)
lowest_count=scores.count(lowest_score)
print(f"Lowest score:{lowest_score},Count:{lowest_count}")
reversed_list=list(reversed(scores))
print(f"Reversed tuple as a list:{reversed_list}")
user_score=76
if user_score in scores:
  first_occurrence_index=scores.index(user_score)
  print(f"The score{user_score}is present at index {first_occurrence_index}.")
else:
  print(f"The score{user_score}is not present in the tuple.")

Highest score:92,Index:5
Lowest score:45,Count:2
Reversed tuple as a list:[45, 58, 92, 89, 45.4, 76, 89.5, 45]
The score76is present at index 2.

In [ ]:
import random

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

for num in random_numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

    if is_prime(num):
        prime_numbers.append(num)

print(f"Odd numbers: {odd_numbers}")
print(f"Count of odd numbers: {len(odd_numbers)}")

print(f"Even numbers: {even_numbers}")
print(f"Count of even numbers: {len(even_numbers)}")

print(f"Prime numbers: {prime_numbers}")
print(f"Count of prime numbers: {len(prime_numbers)}")

Odd numbers: [449, 331, 567, 203, 197, 223, 511, 869, 549, 263, 327, 155, 591, 381, 889, 837, 105, 771, 487, 677, 741, 253, 291, 821, 551, 569, 513, 631, 375, 181, 611, 533, 203, 247, 783, 825, 347, 169, 693, 159, 209, 123, 569, 499, 101, 407, 483, 421, 389, 571, 217, 741, 279, 755]
Count of odd numbers: 54
Even numbers: [782, 826, 344, 454, 628, 768, 698, 280, 238, 698, 596, 646, 446, 884, 794, 292, 248, 438, 588, 314, 328, 338, 270, 688, 280, 138, 668, 448, 860, 884, 604, 394, 410, 382, 708, 424, 502, 250, 646, 750, 286, 228, 328, 818, 276, 432]
Count of even numbers: 46
Prime numbers: [449, 331, 197, 223, 263, 487, 677, 821, 569, 631, 181, 347, 569, 499, 101, 421, 389, 571]
Count of prime numbers: 18

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_of_sets = A.union(B)
print(f"Unique scores achieved by both teams (Union): {union_of_sets}")

intersection_of_sets = A.intersection(B)
print(f"Scores common to both teams (Intersection): {intersection_of_sets}")

symmetric_difference = A.symmetric_difference(B)
print(f"Scores exclusive to each team (Symmetric Difference): {symmetric_difference}")

is_A_subset_of_B = A.issubset(B)
is_B_superset_of_A = B.issuperset(A)
print(f"Are team A's scores a subset of team B's scores? {is_A_subset_of_B}")
print(f"Are team B's scores a superset of team A's scores? {is_B_superset_of_A}")

score_to_remove = int(input("Enter the score to remove from team A: "))

if score_to_remove in A:
    A.remove(score_to_remove)
    print(f"Score {score_to_remove} removed from team A.")
else:
    print(f"Score {score_to_remove} not found in team A.")

Unique scores achieved by both teams (Union): {34, 45, 78, 23, 56, 90}
Scores common to both teams (Intersection): {90, 78}
Scores exclusive to each team (Symmetric Difference): {34, 45, 23, 56}
Are team A's scores a subset of team B's scores? False
Are team B's scores a superset of team A's scores? False
Enter the score to remove from team A: 56
Score 56 removed from team A.

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}